.*
!**/.gitignore
**/.kopardevn_dir_bash_history
test.sh
**/test.sh
**/tmp/
**/test/
**/*_test/
**/*_testing/
**/weeder2.0.1.tar.gz
**/Miniconda3*sh
**/pubtcrs/
**/bring_in_changes_to_remote_master.sh
**/push.bash
**/v2.0.2.tar.gz
